In [1]:
# Importing Boston Dataset
from sklearn import datasets
data = datasets.load_boston()

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [8]:
X = data.data
Y = data.target

In [13]:
df = pd.DataFrame(X)
df.columns = data.feature_names
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [15]:
df["CRIM_CRIM"] = df.CRIM ** 2
df["ZN_ZN"] = df.ZN ** 2
df["INDUS_INDUS"] = df.INDUS ** 2
df["CHAS_CHAS"] = df.CHAS ** 2
df["NOX_NOX"] = df.NOX ** 2
df["RM_RM"] = df.RM ** 2
df["AGE_AGE"] = df.AGE ** 2
df["DIS_DIS"] = df.DIS ** 2
df["RAD_RAD"] = df.RAD ** 2
df["TAX_TAX"] = df.TAX ** 2
df["PTRATIO_PTRATIO"] = df.PTRATIO ** 2
df["B_B"] = df.B ** 2
df["LSTAT_LSTAT"] = df.LSTAT ** 2

In [16]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,CHAS_CHAS,NOX_NOX,RM_RM,AGE_AGE,DIS_DIS,RAD_RAD,TAX_TAX,PTRATIO_PTRATIO,B_B,LSTAT_LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,0.069170,0.321088,39.989325,5493.309545,18.827601,166.857708,195006.197628,345.284447,135534.645253,210.993989
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,0.253994,0.139213,9.079531,3449.600164,21.136892,243.664149,157613.919181,76.318094,41830.850997,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,0.000000,0.148225,12.680721,8.410000,1.275996,1.000000,34969.000000,158.760000,0.102400,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,0.000000,0.201601,34.639111,2027.252500,4.410735,16.000000,77841.000000,302.760000,140908.274275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,0.000000,0.289444,38.545473,6006.290000,10.287804,25.000000,108900.000000,362.905000,153225.273700,129.050000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,0.000000,0.389376,43.870759,8850.107500,26.921407,576.000000,443556.000000,408.040000,156994.250700,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,1.000000,0.758641,77.088400,10000.000000,147.052002,576.000000,505521.000000,484.000000,157529.610000,1441.720900

In [17]:
df.shape

(506, 26)

In [18]:
# Now comes the training part

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
regressor = LinearRegression()

In [22]:
from sklearn import model_selection

In [34]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, random_state = 20)
X2_train, X2_test, Y2_train, Y2_test = model_selection.train_test_split(df.values, Y, random_state = 20)

In [35]:
algo1 = LinearRegression()
algo2 = LinearRegression()

In [36]:
algo1.fit(X_train, Y_train)
algo2.fit(X2_train, Y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
# Test Scores

# Algo 1 Scores
print("Train Score Algo 1 : ", algo1.score(X_train, Y_train))
print("Test Score Algo 1 : ", algo1.score(X_test, Y_test))

print()

# Algo 2 scores
print("Train score Algo 2 : ", algo2.score(X2_train, Y2_train))
print("Test score Algo 2 : ", algo2.score(X2_test, Y2_test))

Train Score Algo 1 :  0.7418953646117235
Test Score Algo 1 :  0.7183920982389518

Train score Algo 2 :  0.8350754622250636
Test score Algo 2 :  0.8027527981462274